/* App */

.input {
  position: absolute;
  top: 10%;
  left: 3%;
}

.output {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 40%;
  word-wrap: break-word;
}

/* UserInput */

.input_bar {
  width: 300px;
}

/* LargerFontOutput */

.larger-font-p {
  font-size: 200%;
  margin: 16px 0;
}
